<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Catalog | MoreRecipes</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="./css/bootstrap.min.css">
		<link rel="stylesheet" href="./css/styles.css">
		<link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css">
	</head>

	<body>
	<nav class="navbar navbar-toggleable-md navbar-light bg-primary">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="index.htm">MoreRecipes</a>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="index.htm">Home <span class="sr-only">(current)</span></a>
			</div>
			<div class="navbar-nav ml-auto">
				<a class="nav-item nav-link" href="profile.htm">Profile</a>
				<a class="nav-item nav-link" href="my-recipes.htm">My Recipes</a>
				<a class="nav-item nav-link active" href="catalog.htm"> Catalog </a>
				
			</div>
		</div>
	</nav>
	<div class="row catalog">
		<form class="form-inline my-2 my-lg-0 catalog-search">
			<input class="form-control mr-sm-2" type="text" placeholder="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
	<div class="container search-result">
		<div class="row">
			<div class="col-md-10">
				<a class="row result"  href="recipe.htm"><h4 class="lead">Fried Rice and Salad</h4><br><br>
					<div class="container recipe-vote">54 <i class="fa fa-thumbs-up"> &nbsp  3</i><i class="fa fa-thumbs-down"></i></div><br>

				</a>
				<a class="row result"  href="recipe.htm"><h4 class="lead">Egusi soup and pounded yam</h4>
					<div class="container recipe-vote">54 <i class="fa fa-thumbs-up"> &nbsp  3</i><i class="fa fa-thumbs-down"></i></div><br>

				</a>
				<a class="row result"  href="recipe.htm"><h4 class="lead">Jollof Rice</h4>
					<div class="container recipe-vote">54 <i class="fa fa-thumbs-up"> &nbsp  3</i><i class="fa fa-thumbs-down"></i></div><br>

				</a>
				<a class="row result"  href="recipe.htm"><h4 class="lead">Poridge beans and plantain</h4>
					<div class="container recipe-vote">54 <i class="fa fa-thumbs-up"> &nbsp  3</i><i class="fa fa-thumbs-down"></i></div><br>

				</a>
				<a class="row result"  href="recipe.htm"><h4 class="lead">Fried Rice and Salad</h4>
					<div class="container recipe-vote">54 <i class="fa fa-thumbs-up"> &nbsp  3</i><i class="fa fa-thumbs-down"></i></div><br>

				</a>
				<a class="row result"  href="recipe.htm"><h4 class="lead">Fried Rice and Salad</h4>
					<div class="container recipe-vote">54 <i class="fa fa-thumbs-up"> &nbsp  3</i><i class="fa fa-thumbs-down"></i></div><br>

				</a>
				
				
			</div>
		<div class="col-md-2 popular-recipes">
			<p class="h5">Popular Recipes</p>
			<div class="list-group">
				<a href="#" class="list-group-item list-group-item-action">Yam Porridge</a>
				<a href="#" class="list-group-item list-group-item-action">Burger</a>
				<a href="#" class="list-group-item list-group-item-action">Jollof Rice</a>
				<a href="#" class="list-group-item list-group-item-action">Suya</a>
				
			</div>
		</div>
		</div>
		
		
	</div>

	
	
	<footer class="row fixed-bottom">
		
	</footer>
	


		

		<script src="./js/jquery-3.1.1.slim.min.js"></script>
		<script src="./js/tether.min.js"></script>
		<script src="./js/bootstrap.min.js"></script>
	</body>



</html>