<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Profile | MoreRecipes</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="./css/bootstrap.min.css">
		<link rel="stylesheet" href="./css/styles.css">
		<link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css">
	</head>

	<body>
	<nav class="navbar navbar-toggleable-md navbar-light bg-primary">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="index.htm">MoreRecipes</i></a>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</div>
			<div class="navbar-nav ml-auto">
				<a class="nav-item nav-link active" href="profile.htm">Profile</a>
				<a class="nav-item nav-link" href="my-recipe.htm"> My 
				Recipes </a>
				<a class="nav-item nav-link" href="catalog.htm"> Catalog </a>
				<a class="nav-item nav-link" href="#"> Sign Up</a>
				<a class="nav-item nav-link" href="#">Sign In</a>
			</div>
		</div>
	</nav> <br>

	<div class="container profile">
		<div class="row">
			<div class="col-md-10 text-center">
				<p class="h3 text-center">Profile</p>
				<img class="profile-pic" src="#" height="150px" width="150px">
				<p>Emmanuel Abaye</p>
				
			<ul class="list-group ">
				<li class="list-group-item"><i class="fa fa-venus-mars fa-lg"></i>&nbsp Male</li>
				<li class="list-group-item"><span class="text-center"><i class="fa fa-envelope fa-lg"></i>&nbsp emmanuel.nonye.abaye@gmail.com</span></li>
				
				<li class="list-group-item"><i class="fa fa-map-marker fa-lg"></i>&nbsp Lagos, Nigeria</li>
				<li class="list-group-item"><i class="fa fa-briefcase fa-lg"></i>&nbsp Programmer</li>
				<li class="list-group-item"><i class="fa fa-tasks fa-lg"></i>&nbsp Interests</li>
			</ul>
			</div>

			<div class="col-md-2 profile-favorite-recipes">
			<p class="h5 text-center">Favorite Recipes</p>
			<div class="list-group">
				<a href="#" class="list-group-item list-group-item-action">Yam Porridge</a>
				<a href="#" class="list-group-item list-group-item-action">Burger</a>
				<a href="#" class="list-group-item list-group-item-action">Jollof Rice</a>
				<a href="#" class="list-group-item list-group-item-action">Suya</a>
				
			</div>
		</div>

			
		</div>
		
				
	</div>

	







	


	
	
	<footer class="row fixed-bottom">
		
	</footer>
	


		

		<script src="./js/jquery-3.1.1.slim.min.js"></script>
		<script src="./js/tether.min.js"></script>
		<script src="./js/bootstrap.min.js"></script>
	</body>



</html>