<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Recipe | MoreRecipes</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="./css/bootstrap.min.css">
		<link rel="stylesheet" href="./css/styles.css">
		<link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css">
	</head>

	<body>
	<nav class="navbar navbar-toggleable-md navbar-light bg-primary">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="#">MoreRecipes</i></a>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</div>
			<div class="navbar-nav ml-auto">
				<a class="nav-item nav-link active" href="catalog.htm"> Catalog </a>
				<a class="nav-item nav-link" href="#"> Sign Up</a>
				<a class="nav-item nav-link" href="#">Sign In</a>
			</div>
		</div>
	</nav>
	<h2 class="recipe-name text-center">Omelette</h2>
	<div class="container recipe-details">
		<p class="ingredients text-center"><b>Ingredients</b>: Eggs, water, groundnut oil, salt, pepper, salt</p>
	</div>
	<div class="container recipe-directions">
		<h6><b>Directions</b></h6>
		<p class="directions">  The quick brown fox The quick brown foxThe quick brown foxThe quick brown foxThe quick brown foxThe quick brown foxThe quick brown foxThe quick brown foxThe quick brown foxThe quick brown foxThe quick brown foxThe quick brown foxThe quick brown foxThe quick brown foxThe quick brown foxThe quick brown foxThe quick brown foxThe quick brown foxThe quick brown foxThe quick brown foxThe quick brown foxThe quick brown foxThe quick brown foxThe quick brown foxThe quick brown foxThe quick brown fox</p>
		
	</div>

	<div class="container recipe-vote">54 <i class="fa fa-thumbs-up"> &nbsp  3</i><i class="fa fa-thumbs-down"></i></div><br>

	<div class="container recipe-reviews">
		<h6><b>Reviews</b></h6>
		<div class="review">
			<p class="h5"> John wick</p>
			<p class="">The meal is appealing The meal is appealing The meal is appealingThe meal is appealingThe meal is appealingThe meal is appealingThe meal is appealingThe meal is appealingThe meal is appealingThe meal is appealingThe meal is appealingThe meal is appealingThe meal is appealingThe meal is appealing</p>
		</div>
		<div class="review">
			<p class="h5"> Fred</p>
			<p class="">The meal is appealing The meal is appealing The meal is appealingThe meal is appealingThe meal is appealingThe meal is appealingThe meal is appealingThe meal is appealingThe meal is appealingThe meal is appealingThe meal is appealingThe meal is appealingThe meal is appealingThe meal is appealing</p>
		</div>
		<div class="review">
			<p class="h5"> Simon</p>
			<p class="">The meal is appealing The meal is appealing The meal is appealingThe meal is appealingThe meal is appealingThe meal is appealingThe meal is appealingThe meal is appealingThe meal is appealingThe meal is appealingThe meal is appealingThe meal is appealingThe meal is appealingThe meal is appealing</p>
		</div>
	</div>

	<div class="container add-review">
		<form>
			<div class="form-group">
				<label for="">Add Review</label>
				<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
			</div>
			
			
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>


	
	
	<footer class="row fixed-bottom">
		
	</footer>
	


		

		<script src="./js/jquery-3.1.1.slim.min.js"></script>
		<script src="./js/tether.min.js"></script>
		<script src="./js/bootstrap.min.js"></script>
	</body>



</html>